{{> navbar}}
<div class="{{typeAl}}" role="alert">
  {{content}}
</div>
<div class="container">
  <div class="row">
  {{> card}}
  </div>
  <div class="row">
  {{> card}}
  </div>
  <div class="row">
  {{> card}}
  </div>
</div>
{{> footer}}
